html5lib==1.1
importlib_metadata==8.0.0
isodate==0.6.1
lxml==5.2.2
owlrl==6.0.2
packaging==24.1
pip==24.0
prettytable==3.10.2
pyparsing==3.1.2
pyshacl==0.26.0
rdflib==7.0.0
setuptools==71.0.1
six==1.16.0
soso==0.0.0
wcwidth==0.2.13
webencodings==0.5.1
wheel==0.43.0
zipp==3.19.2
