name: cd

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  cd:
    runs-on: ubuntu-latest
    steps:
    - name: Check-out repository
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
        token: ${{ secrets.RELEASE_TOKEN }}

    - name: Set up uv
      uses: astral-sh/setup-uv@v4
      with:
        python-version: "3.11"
        enable-cache: true

    - name: Install dependencies
      run: uv sync --extra dev

    - name: Use Python Semantic Release to prepare release
      id: release
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          uv run semantic-release version
          uv run semantic-release publish

    - name: Publish to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
      if: steps.release.outputs.released == 'true'
      with:
        user: __token__
        password: ${{ secrets.PYPI_API_TOKEN }}