name: ci

on:
  push:
    branches: [main]
  pull_request:

permissions:
  contents: read

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
    - name: Check-out repository
      uses: actions/checkout@v4

    - name: Set up uv
      uses: astral-sh/setup-uv@v4
      with:
        python-version: "3.11"
        enable-cache: true

    - name: Install dependencies
      run: uv sync --extra dev

    - name: Run Ruff formatter
      run: uv run ruff format src/ tests/

    - name: Run Ruff linter
      run: uv run ruff check src/ tests/

    - name: Test with pytest
      run: uv run pytest tests/ --cov=soso --cov-report=xml

    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@v4.0.1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}

    - name: Build documentation
      run: uv run make html --directory docs/